.beforelogin-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.craiglist2 {
  margin: 0;
  width: 259px;
  height: 51px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.search-box {
  width: 713px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group-icon1 {
  width: 22px;
  height: 22px;
  position: relative;
  z-index: 1;
}
.group-container {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.broom-canvas {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 40px;
  width: 209px;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  left: -39px;
  border-radius: var(--br-6xl);
  z-index: 1;
}
.location1 {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.broom-canvas-parent {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-item {
  height: 40px;
  width: 161px;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  left: 28px;
  border-radius: var(--br-6xl);
  background-color: var(--color-khaki);
  cursor: pointer;
  z-index: 1;
}

.frame-item:hover{
  background-color: var(--color-khaki2);
}

.create-posting2 {
  top: 10px;
  flex: 1;
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  z-index: 2;
  text-decoration: none;
  color: black  ;
}
.create-posting-button,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  flex: 1;
  position: relative;
  color: var(--color-black);
}
.create-posting-button {
  align-self: stretch;
  gap: var(--gap-9xl);
}
.create-posting-button-wrapper,
.search-box-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.create-posting-button-wrapper {
  width: 382px;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
}
.search-box-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-33xl);
}
.beforelogin-item {
  width: 100%;
  height: 35px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-khaki);
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}

.dsg{
  text-decoration: none;
  color: var(--color-dimgray-200);
}

.dsg:hover{
  color: var(--color-black);
}

.community1 {
  width: 85px;
  position: relative;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 85px;
}
.for-sale1,
.housing1,
.jobs1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 60px;
}
.for-sale1,
.jobs1 {
  min-width: 37px;
}
.for-sale1 {
  min-width: 58px;
  white-space: nowrap;
}
.services1 {
  display: inline-block;
  min-width: 63px;
}
.discussion-forum1,
.gigs1,
.services1 {
  position: relative;
  font-weight: 600;
}
.gigs1 {
  display: inline-block;
  min-width: 34px;
}
.discussion-forum1 {
  width: 147px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.community-group {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-200);
  font-family: var(--font-plus-jakarta-sans);
}
.frame-nav {
  margin: 0;
  width: 744px;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.beforelogin-wrapper,
.beforelogin1,
.frame-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.beforelogin1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-79xl) var(--padding-5xs)
    var(--padding-102xl);
  position: sticky;
  gap: var(--gap-base);
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}
.beforelogin-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-25xl);
}
.buy1,
.search2,
.sell1 {
  margin: 0;
}
.buy-sell-search-container3 {
  line-break: anywhere;
}
.buy-sell-search-container2 {
  margin: 0;
  align-self: stretch;
  height: 76px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 4;
}
.search-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.mdisearch-icon1 {
  position: absolute;
  height: 54.05%;
  width: 7.74%;
  top: 22.97%;
  right: 6.38%;
  bottom: 22.97%;
  left: 85.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.search3 {
  width: 517px;
  height: 74px;
  position: relative;
  max-width: 100%;
  z-index: 4;

  cursor: pointer;
}
.search3-active {
  width: 838px;
  height: 394px;
  position: absolute;
  
  top: 537px;
  right: 0;
  bottom: 0;
  left: 92px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;

  display: none;
  /* opacity: 0.5; */

  /* border: 2px solid red; */
  z-index: 100;
}
.search3-active .active-content {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  position: relative;
  /* border: 2px solid red; */
}
.active-content .search-bar {
  width: 517px;
  height: 74px;
  max-width: 100%;
  position: relative;

  top: 10px;
  left: 10px;

  /* border: 2px solid black; */
}
.search-bar .search-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* border: 2px solid red; */
}
.search-item input {
  position: relative;

  left: 25px;
  height: fit-content;
  width: 400px;

  font-size: 30px;
  font-weight: 200;

  user-select: none;

  border: none;
  outline: none;

  transition: border-color 0.3s;

  /* border: 2px solid green; */
}
.search-bar .mdisearch-icon1 {
  position: absolute;
  height: 54.05%;
  width: 7.74%;
  top: 22.97%;
  right: 6.38%;
  bottom: 22.97%;
  left: 85.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;

  cursor: pointer;

  /* border: 2px solid blue; */
}
.categories {
  width: 100%;
  height: 300px;
  max-width: 100%;
  position: relative;

  top: 10px;

  /* border: 2px solid yellow; */
}
.categories .category-title {
  width: 517px;
  height: 74px;

  position: relative;
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* border: 2px solid blue; */
}
.categories p {
  font-size: 30px;
  font-weight: 700;

}
.categories .category-container {
  height: 224px;

  position: relative;
  padding-left: 50px;

  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  margin-left: 10px;
  margin-right: 10px;

  gap: 30px;
  
  /* border: 2px solid aqua; */
}
.category-container label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  width: fit-content;
  /* border: 2px solid red; */
}
.category-container label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -2.5px;
  left: -35px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.category-container label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.category-container label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.category-container label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.category-container label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.help-menu2,
.info-column {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.info-column {
  width: 584px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 158px;
}
.help-menu2 {
  width: 792px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.close-up-view-of-father-and-so1 {
  width: 100%;
  height: 572px;
  position: absolute;
  margin: 0 !important;
  top: 117px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 3;
}
.hot-categories1 {
  margin: 0;
  width: 370px;
  height: 51px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.wrapper-rectangle-10-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 5px;
  top: 4px;
  transform: scale(1.058);
}
.wrapper-rectangle-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-rectangle-10-item {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  position: absolute;
  left: 5px;
  top: 4px;
  transform: scale(1.058);
}
.wrapper-rectangle-101 {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 208px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-rectangle-10-parent {
  align-self: stretch;
  height: 208px;
  position: relative;
}
.books2,
.books3 {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.books3 {
  z-index: 1;
  margin-left: -82px;
}
.light-tel-label {
  flex: 1;
  flex-direction: row;
}
.hot-categories-columns,
.light-address-label,
.light-tel-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.light-address-label {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-44xl);
}
.hot-categories-columns {
  width: 208px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.frame-child1,
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 208px;
  object-fit: cover;
}
.frame-child1 {
  z-index: 1;
}
.rectangle-container {
  align-self: stretch;
  height: 208px;
  position: relative;
}
.arts-craft2,
.arts-craft3 {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.arts-craft3 {
  z-index: 1;
  margin-left: -96px;
}
.arts-craft-group {
  flex: 1;
  flex-direction: row;
}
.arts-craft-group,
.hot-categories-columns-inner,
.hot-categories-columns1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hot-categories-columns-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-37xl);
}
.hot-categories-columns1 {
  width: 208px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 208px;
  object-fit: cover;
}
.frame-child3 {
  z-index: 1;
}
.pets2,
.pets3,
.rectangle-parent1 {
  align-self: stretch;
  height: 208px;
  position: relative;
}
.pets2,
.pets3 {
  height: 51px;
  display: inline-block;
  flex-shrink: 0;
}
.pets3 {
  z-index: 1;
  margin-top: -51px;
}
.pets-group {
  flex: 1;
  flex-direction: column;
}
.hot-categories-columns-child,
.hot-categories-columns2,
.pets-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hot-categories-columns-child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-44xl);
}
.hot-categories-columns2 {
  width: 208px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.frame-child4,
.frame-child5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 208px;
  object-fit: cover;
}
.frame-child5 {
  z-index: 1;
}
.rectangle-parent2 {
  align-self: stretch;
  height: 208px;
  position: relative;
}
.household2,
.household3 {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.household3 {
  z-index: 1;
  margin-left: -82px;
}
.household-group {
  flex: 1;
  flex-direction: row;
}
.hot-categories-columns-inner1,
.hot-categories-columns3,
.household-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hot-categories-columns-inner1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-44xl);
}
.hot-categories-columns3 {
  width: 208px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.hot-categories-columns-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.help-menus {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 3px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-mini);
}
.footer-wrapper,
.footer1,
.help-menus {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer1 {
  width: 1195px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.footer-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.craiglist-picks1 {
  margin: 0;
  width: 379px;
  height: 51px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.wrapper-rectangle-18-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 5px;
  top: 4px;
  transform: scale(1.058);
}
.wrapper-rectangle-18 {
  width: 208px;
  height: 208px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vespa1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.works-menu-about {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.div3 {
  height: 17px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.help-menu-about,
.works-menu-about1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.works-menu-about1 {
  width: 126px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
  color: var(--color-goldenrod);
}
.help-menu-about {
  height: 272px;
  flex-direction: column;
  gap: var(--gap-mini);
}
.frame-child6 {
  width: 208px;
  height: 208px;
  position: relative;
  object-fit: cover;
}
.canvas1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.canvas-container {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.footer-menus1 {
  width: 124px;
  height: 17px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.rectangle-parent3 {
  height: 271px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-5);
}
.frame-child7 {
  height: 208px;
  width: 208px;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.pomerian-dog1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.info-column1 {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.div4 {
  width: 124px;
  height: 17px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.frame-container {
  height: 269px;
  width: 209px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm-5);
}
.frame-child8 {
  width: 208px;
  height: 208px;
  position: relative;
  object-fit: cover;
}
.broom1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.broom-container {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.div5 {
  width: 124px;
  height: 17px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.rectangle-parent4 {
  height: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.help-menu-about-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-mini);
}
.berlin-address-label,
.help-menu-widget {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.help-menu-widget {
  width: 1192px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.berlin-address-label {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 71px var(--padding-5xl);
  box-sizing: border-box;
}
.help-menu-widget1 {
  position: absolute;
  top: 0;
  left: 28px;
  border-radius: var(--br-6xl);
  background-color: var(--color-khaki);
  width: 161px;
  height: 37.6px;
}
.create-posting3 {
  text-decoration: none;
  color: var(--color-black);
  position: absolute;
  top: 11.3px;
  left: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 222px;
  height: 16px;
  z-index: 1;
}

.help-menu-widget1:hover{
  background-color: var(--color-khaki2);
}


.help-menu-widget-parent {
  height: 37.6px;
  width: 222px;
  position: relative;
}
.footer-instance {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-30xl-4);
  text-align: center;
  font-size: var(--font-size-mini);
}
.footer-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-khaki);
}
.craiglist3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  line-height: 160%;
  font-weight: 700;
  font-family: inherit;
}
.logo1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.explore-a-wide1 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-13-size);
  line-height: 28px;
  /* font-family: var(--bold-11px-cap); */
  color: var(--color-dimgray-200);
}
.info1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon4 {
  width: 16.6px;
  height: 13.3px;
  position: relative;
}
.widget-help-menu2 {
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-7);
  box-sizing: border-box;
}
.icon5 {
  height: 18px;
  width: 9.4px;
}
.icon5,
.icon6,
.icon7 {
  position: relative;
}
.icon6 {
  height: 20px;
  width: 20.1px;
  min-height: 20px;
}
.icon7 {
  width: 19.2px;
  height: 18.7px;
}
.social1,
.wrapper1 {
  height: 20px;
  display: flex;
}
.wrapper1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-3);
  box-sizing: border-box;
}
.social1 {
  width: 172px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.column-11 {
  width: 306px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 306px;
}
.help-menu3 {
  position: relative;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 74px;
}
.about1 {
  white-space: pre-wrap;
}
.about1,
.blank-line6 {
  margin: 0;
}
.features1 {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line7 {
  margin: 0;
}
.works1 {
  white-space: pre-wrap;
}
.blank-line8,
.works1 {
  margin: 0;
}
.career1 {
  margin: 0;
  white-space: pre-wrap;
}
.about-features-works-container2 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-13-size);
  line-height: 22px;
  color: var(--color-dimgray-100);
}
.widget-71 {
  width: 98px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.help-menu4 {
  position: relative;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
}
.blank-line10,
.blank-line11,
.blank-line9,
.guidelines1,
.privacy-policy1,
.prohibited-items1,
.terms-of-service1 {
  margin: 0;
}
.about-features-works-container3 {
  position: relative;
  font-size: var(--regular-13-size);
  line-height: 22px;
  color: var(--color-dimgray-100);
}
.widget-91 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.icons5 {
  height: 20px;
  width: 20px;
  position: relative;
}
.kelompokppticom-icon-set,
.tel1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.kelompokppticom-icon-set {
  height: 22px;
  color: var(--color-dimgray-200);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.lighttel1,
.text3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.lighttel1 {
  align-self: stretch;
  height: 67px;
  flex-direction: row;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.icons6 {
  height: 20px;
  width: 20px;
  position: relative;
}
.kelompok4ppticom1,
.mail1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.kelompok4ppticom1 {
  height: 22px;
  color: var(--color-dimgray-200);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.lightmail1,
.text4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.lightmail1 {
  align-self: stretch;
  height: 67px;
  flex-direction: row;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.icons7 {
  height: 20px;
  width: 20px;
  position: relative;
}
.address1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.berlin1,
.wizard-ventures-gmbh1 {
  margin: 0;
}
.wizard-ventures-gmbh-container1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-dimgray-200);
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.lightaddress1,
.text5 {
  flex: 1;
  justify-content: flex-start;
}
.text5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.lightaddress1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
}
.columns1,
.icons4,
.lightaddress1,
.menus1 {
  display: flex;
  align-items: flex-start;
}
.icons4 {
  height: 263px;
  width: 236px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--regular-13-size);
}
.columns1,
.menus1 {
  flex: 1;
  flex-direction: row;
  max-width: 100%;
}
.menus1 {
  justify-content: space-between;
  min-width: 556px;
  gap: var(--gap-xl);
  font-size: var(--bold-11px-cap-size);
  /* font-family: var(--bold-11px-cap); */
}
.columns1 {
  justify-content: center;
  gap: var(--gap-115xl);
  z-index: 1;
}
.desktop-11,
.footer2,
.frame-group {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}
.footer2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-31xl) var(--padding-53xl);
  box-sizing: border-box;
  position: relative;
  min-height: 395px;
  max-width: 100%;
  font-size: var(--font-size-13xl);
}
.desktop-11,
.frame-group {
  flex-direction: column;
}
.frame-group {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--font-size-17xl);
}
.desktop-11 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-135xl);
  letter-spacing: normal;
  font-size: var(--font-size-81xl);
}
@media screen and (max-width: 1225px) {
  .create-posting-button {
    display: none;
  }
  .create-posting-button-wrapper {
    width: 0;
  }
  .column-11 {
    flex: 1;
  }
  .columns1 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
  }
}
@media screen and (max-width: 1125px) {
  .create-posting2 {
    display: none;
  }
  .help-menu-about-parent,
  .hot-categories-columns-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .search-box-parent {
    gap: var(--gap-7xl);
  }
  .beforelogin1 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .buy-sell-search-container2 {
    font-size: var(--font-size-31xl);
  }
  .info-column {
    gap: 79px;
  }
  .hot-categories1 {
    font-size: var(--font-size-10xl);
  }
  .footer1 {
    gap: var(--gap-xl);
  }
  .craiglist-picks1 {
    font-size: var(--font-size-10xl);
  }
  .div3,
  .div4,
  .div5,
  .footer-menus1 {
    font-size: var(--font-size-7xl);
  }
  .help-menu-widget {
    gap: var(--gap-xl);
  }
  .craiglist3 {
    font-size: var(--font-size-7xl);
    line-height: 41px;
  }
  .menus1 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .columns1 {
    gap: var(--gap-14xl);
  }
  .footer2 {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .desktop-11 {
    gap: var(--gap-58xl);
  }
}
@media screen and (max-width: 450px) {
  .frame-nav {
    display: none;
  }
  .beforelogin1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .buy-sell-search-container2 {
    font-size: var(--font-size-11xl);
  }
  .info-column {
    gap: 39px;
  }
  .craiglist-picks1,
  .hot-categories1 {
    font-size: var(--font-size-3xl);
  }
  .div3,
  .div4,
  .div5,
  .footer-menus1 {
    font-size: var(--font-size-lgi);
  }
  .berlin-address-label {
    padding-bottom: 46px;
    box-sizing: border-box;
  }
  .craiglist3 {
    font-size: var(--font-size-lgi);
    line-height: 31px;
  }
  .columns1 {
    gap: var(--gap-mid);
  }
  .footer2 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .desktop-11 {
    gap: var(--gap-19xl);
  }
}
